body {
  background: #7c7e88;
}

h1 {
  background: #ef7e56;
  padding: 20px 40px;
  margin: 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  gap: 5px;
  height: 100%;
}

main div {
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weights {
  background: #a2a8d3;
}
.weights:hover {
  background-color: #ef7e56;
}

.lengths {
  background: #38598b;
}
.lengths:hover {
  background-color: #ef7e56;
}

.temperatures {
  background: #113f67;
}

.temperatures:hover {
  background-color: #ef7e56;
}
.pounds-grid-item {
  grid-row-start: 1;
  grid-column-start: 1;
}
.kg-grid-item {
  grid-row-start: 1;
  grid-column-start: 2;
}
.stones-grid-item {
  grid-row-start: 1;
  grid-column-start: 3;
}
.feet-grid-item {
  grid-row-start: 2;
  grid-column-start: 2;
}

.meters-grid-item {
  grid-row-start: 2;
  grid-column-start: 1;
}

.yards-grid-item {
  grid-row-start: 2;
  grid-column-start: 3;
}

.celcius-grid-item {
  grid-row-start: 3;
  grid-column-start: 1;
}
.fahrenheit-grid-item {
  grid-row-start: 3;
  grid-column-start: 2;
}
.kelvin-grid-item {
  grid-row-start: 3;
  grid-column-start: 3;
}
